*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--color1);
}

:root{
    --color1: #0f132e;
    --color2: #19274e;
    --color3: #536d88;
    --color4: #b49b85;
    --color5: #eac195;
}

#cabecalho, #rodape{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: var(--color1);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(109, 94, 7);
    font-family: sans-serif;
    font-size: 2rem;
    opacity: 80%;
}

#cabecalho a, #rodape a{
    color: rgb(109, 94, 7);
}

#rodape{
    align-self: end;
}

#main{
    display: flex;
    height: 100vh;
}

.lateral{
    width: 7.5vw;
    height: 100vh;
    background-color: var(--color1);
    opacity: 80%;
}
.central{
    display: flex;
    width: 85vw;
    height: 100vh;
    background-color: var(--color5);
    align-items: center;
    justify-content: center;
    border-radius: 80px;
}

#tabuleiro{
    display: grid;
    max-width: 80vh;
    max-height: 80vw;
    width: 80vh;
    height: 80vh;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

#tabuleiro .even-row:nth-child(2n), #tabuleiro .odd-row:nth-child(2n+1){
    background-color: black;
}

#tabuleiro .even-row:nth-child(2n+1), #tabuleiro .odd-row:nth-child(2n){
    background-color: white;
}



@media(max-height: 850px){
    #cabecalho, #rodape{
        font-size: 1.5rem;
    }
}

@media(max-height: 550px){
    #cabecalho, #rodape{
        font-size: 0.8rem;
    }
}

@media(max-height: 300px){
    #cabecalho, #rodape{
        font-size: 0.4rem;
    }
}

@media(max-width: 800px){
    #cabecalho{
        font-size: 1.4rem;
    }
}

@media(max-width: 660px){
    #cabecalho{
        font-size: 1rem;
    }
}

@media(max-width: 400px){
    #cabecalho{
        font-size: 0.7rem;
    }
}